<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Golang Signin</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/signup"> Criar Conta </a></li>
                <li><a href="/signin"> Login </a></li>
            </ul>
        </nav>
    </header>
        
    <h1>Login</h1>

    {{ if (ne .Message "") }}
        <p> {{ .Message }} </p>
    {{ end }}
    <div>
        <form action="/signin" method="post">
            Name: <input type="text" name="name" /> <br/>
            Password: <input type="text" name="password" /><br/>
            <button type="submit"> Logar </button>
        </form>
    </div>

</body>
</html>