{{ define "nav-main" }}

<nav> 
  <ul> 
    <li> <a href="/index"> Index </a> </li>
    <li> <a href="/sobre"> Sobre </a> </li>
    <li> <a href="/contato"> Contato </a> </li>
    <li> <a href="/aplicar"> Aplicar </a> </li>
  </ul>
</nav>

{{ end }}